.dashboard-wrapper {
    display: flex;
    height: 100vh;
  }
  
  .dashboard-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .local-toggle-button {
    background-color: transparent;
    border: none;
    color: #2563eb;
    font-size: 1.5rem;
    margin-bottom: 20px;
    cursor: pointer;
  }
  